# Database
PRISMA_PROVIDER="sqlite"
DATABASE_URL="file:./dev.db"

# Email
RESEND_API_KEY="re_xxxxxxxxxxxx"

# Rate limiting (optional)
UPSTASH_REDIS_URL=""
UPSTASH_REDIS_TOKEN=""

# Production (Vercel)
# PRISMA_PROVIDER="postgresql"
# DATABASE_URL="postgresql://user:password@host:port/db"